.app {
  display: flex;
  border: 1px solid grey;
  justify-content: center;
  margin: 40px;
  max-width: 600px;
}
.output-block {
  border: 1px solid grey;
  padding: 15px;
  min-width: 200px;
}
.range {
  min-width: 200px;
}
.range-block {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  align-items: center;
  padding-top: 50px;
}
.output {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 30px;
  justify-content: space-around;
  max-width: 500px;
  margin: 30px;
}
.reset-btn {
  margin-left: 40px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(61, 61, 240);
  color: white;
  border: none;
  border-radius: 5px;
}
